@tailwind base;
@tailwind components;
@tailwind utilities;

.link{
    @apply mt-2 rounded-md p-1 flex hover:bg-transparent hover:border text-sm 
}
.sub-link{
    @apply mt-1 rounded-md p-1 flex hover:bg-[#eee] hover:text-[#555]
}
/* body {
    font-family: 'Montserrat', sans-serif;
} */
.cal_btn{
    @apply md:h-16 md:w-16 rounded-full mr-4 text-sm h-10 w-10
}
.cal_btnArea{
    @apply flex justify-evenly mb-4
}
.tran{
    transition: ease-in-out ;
    line-height: 40px;
}
.darkMode{
    background: linear-gradient(135deg, #1a1a1a, #333333);
}
.bg{
    box-shadow: 0px 11px 15px -7px rgba(0, 0, 0, 0.2), 0px 24px 38px 3px rgba(0, 0, 0, 0.14), 0px 9px 46px 8px rgba(0, 0, 0, 0.12);
}
.strollbar::-webkit-scrollbar{
    background-color: transparent;
    height: 6px;
}
.strollbar::-webkit-scrollbar-thumb{
    background-color: rgb(127, 127, 129);
    border-radius: 8px;
    cursor: pointer;
}
.shd{
    box-shadow: 1px 0px 2px 12px #888;
}
.main{
    display: grid;
    grid-template-areas: 
        'sidebar nav nav nav'
        'sidebar content content content'
        'sidebar content content content';
    grid-template-columns: 200px 1fr; /* Sidebar width and flexible content */
    grid-template-rows: auto 1fr; /* Auto height for the first row and flexible height for the second */
    height: 100vh;             ;
}
.active{
    @apply bg-slate-50 text-black
}
.deativated{
    @apply cursor-not-allowed 
}
.sidebar{
    grid-area: sidebar;
}
.box_area :where(:nth-child(1),:nth-child(2),:nth-child(3)){
    border-top: none;
}
.box_area :where(:nth-child(1), :nth-child(4), :nth-child(7)) {
    border-left: none;
}
.box_area :where(:nth-child(3), :nth-child(6), :nth-child(9)) {
    border-right: none;
}
.box_area :where(:nth-child(7), :nth-child(8), :nth-child(9)) {
    border-bottom: none;
}
.nav{
    grid-area: nav;
}
.content{
    grid-area: content;
    overflow-x: hidden;
}
@media (max-width: 767px) {
    .main {
        grid-template-areas: 
            'nav nav nav nav'
            'content content content content'
            'content content content content';
        grid-template-columns: 1fr; /* Adjust columns to only one */
    }
}
.showNav{
    @apply fixed right-0 opacity-100
}
.disable{
    overflow: hidden;
    opacity: 0.5;
}
.letter-spacing{
    letter-spacing: 2px;
}
.selected{
    opacity: 0.5;
    pointer-events: none;
    transition: .5 ease-in-out ;
    filter: blur(0.5px);
}
.bold{
    transition: left 0.3s ease; /* Smooth transition */
    z-index: 1000;
}
.customInputs{
    @apply bg-transparent border-0 shadow-sm shadow-[#888] w-full
}
.focus-none:focus{
    background-color: transparent;
}
th{
    @apply shadow-sm shadow-[#999]
}
td{
    @apply shadow-sm shadow-[#999]
}
.btn-success{
   @apply hover:bg-green-500 hover:text-white
}
.btn-danger{
   @apply hover:bg-red-500 hover:text-white
}
.btn-primary{
   @apply hover:bg-slate-500 hover:text-white
}
.lb{
    @apply absolute w-full h-full top-0
}
.lb{
    transform: rotate(calc(18deg * var(--i)));
}
.loader span::before{
    content: '';
    position: absolute;
    left: 0;
    top:0 ;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background: #00ff0a;
    box-shadow: 0 0 10px #00ff0a,
                0 0 20px #00ff0a,
                0 0 40px #00ff0a,
                0 0 60px #00ff0a,
                0 0 80px #00ff0a;
}
